/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/08/2017, 21:09:10
    Author     : muril
*/

/* ======================  Layout  ======================*/
html, body, .cover{
    height: 100%
}

body{
    /*    background: rgb(141,175,165);*/
    background: rgb(69,181,248);
    font-family: Helvetica,Arial,sans-serif;
}

.whiteC{
    color: white;
}

.blackCH{
    color: black;
}

.blackCH tbody tr:hover{
    background-color: rgb(69, 181,248); 
}

.textCenter{
    text-align: center;

}

/* ---  Navbar ---*/

#logo-img{
    width: 50px;
    height: 50px;
}

nav.navbar-transparent{
    padding: 15px 0px;
    background: rgba(0,0,0,0.6);
    border: none;
}

.navbar-brand{
    padding: 0px;
}

.divisor{
    width: 1px;
    height: 16px;
    background: white;
    margin: 16px 10px;
}

.navbar-inverse .navbar-nav>li>a, footer .nav a{
    color: white;
}

.navbar-inverse .navbar-nav>li>a:hover,  footer .nav a:hover{
    color: Gray;
    background: none;
}

/* ---  Capa ---*/

#text-cover{
    height: 90%;
}

.cover{
    border: 1px;
    margin-bottom: 40px;

}

.text-cover{
    text-align: center;
    color: white;
    padding: 14%;
    display: table-cell;
    vertical-align: middle;
    padding-top: 20%;
    width: 100%    
}
/* --- Botao capa ---*/
.btn-custom{
    border-radius: 500px;
    text-transform: uppercase;
    padding: 10px 35px;
    transition: background 0.4s, color 0.4s;
    margin: 0px 15px;
}

#btn-simple{
    color: grey;
}

#btn-compound{

}

/* --- Conteudo Team --*/

#team{
    height: 900px; 
    background: rgb(240,240,240);
    padding-top: 105px;
    padding-bottom: 20px;

}

.member-team{
    background-color: white;  
    color: grey;  
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
    margin-left: 80px;
    border-radius: 3%
}

#team .member-team img{
    margin-top: 10px;
    width: 263px;
    height: 220px;
    border-radius: 10%;
    font-family: Helvetica,Arial,sans-serif;
}
.bottom-line3{
    width:100px;
    height:2px;
    margin:13px auto;
    background-color:rgb(69,181,248);
    opacity: 0.5;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.1);
}

#team .member-team .icons{
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    margin-right: 5px;
}
.member-team {
    -webkit-transition: all 1s ease;
    /* Safari and Chrome */
    -moz-transition: all 1s ease;
    /* Firefox */
    -o-transition: all 1s ease;
    /* IE 9 */
    -ms-transition: all 1s ease;
    /* Opera */
    transition: all 1s ease;
}
.member-team:hover{
    -webkit-transform: scale(1.15);
    /* Safari and Chrome */
    -moz-transform: scale(1.15);
    /* Firefox */
    -ms-transform: scale(1.15);
    /* IE 9 */
    -o-transform: scale(1.15);
    /* Opera */
    transform: scale(1.15);
}

/* --- Footer --*/
footer{
    background: #000;
    padding: 20px 0px 20px 0px;
    margin-bottom: 0px;
    max-height: 100px;
    position: static;
}

.footer-bottom {
    color: white;
    background-color: black ; 
    margin-top: -20px;
    margin-bottom: -10px;
    font-size: 13px;
    padding-top: 0px;
    padding-bottom: 1px;

}

#footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#footer li {
    float: left;
}

#footer a{
    color: white;
}

#footer a:hover{
    color: Gray;
    background: none;
}
#footer a:hover{
    background-color: black;
}
#black{
    background-color: black;
    padding-top: 15px;
    min-height: 100px;
    padding-left:5%;
    padding-right: 5%;
}

/* --- juros S --- */

.text-coverR{
    text-align: center;
    color: white;
    display: table-cell;
    vertical-align: middle;
    padding-top: 5%;
    width: 100%    
}

#calc{
    margin-top: 80px;
    padding: 0px  15% 30px 15%;
}


#text-interestS{
    height: 100%;
    margin-bottom: 140px;
    width: 100%
}

#table-interestS{
    margin-top: 20px;
    margin-bottom: 100px;
}

#calculatorS{
    margin-top: 50px;
    margin-left: 5px;
}

#formS{
    margin-top: 150px;
    margin-left: 20px;
    padding-left: 15%;
    padding-right: 15%;
}

#formS input[type=number]{
    width: 140px;
} 

#submit {
    color: #fff;
    font-size: 14px;
    width: 80px;
    height: 36px;
    border: none;
    border-radius: 8px;
    margin-left: 10px;
    background: rgb(240, 173, 78); 
}

#containerJ{
    height: auto; 
    background: rgb(240,240,240);
    padding-top: 105px;
    padding-bottom: 20px;
    min-height: 700px;

}
/* --- juros C --- */


#containerJC{
    height: auto; 
    background: rgb(240,240,240);
    padding-top: 105px;
    padding-bottom: 20px;
    min-height: 700px;

}

#text-interestC{
    height: 100%;
}

#table-interestC{
    color: white;
    margin-top: 150px;
}

#formC input[type=number]{
    width: 160px;
} 

#formC{
    margin-top: 150px;
    margin-left: 50px;
    padding-left: 10%;
    padding-right: 10%;
    
}

.graficos{
    margin-top: 10px;
    display: block;
    height: 30%;
    width: 70%;
    background-color: white;
    color: black;
    border-radius: 10px;
}



/* ======================  Formatcao de texto  ======================*/

h1{
    font-size: 550%;
    font-weight: 700;
    letter-spacing: -0.02em;
    margin-bottom: 20px;
}

h3{
    font-size: 150%;
    font-weight: 500;
    margin-bottom: 60px;
}

#footer h4 {
    color: #919496;
    font-size: 12px;
    text-transform: uppercase;
}

